---
import BaseLayout from "../layouts/BaseLayout.astro";
let pageTitle = "External Script";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <script src="/test.js" is:inline></script>
</BaseLayout>
