---
import BaseLayout from "../layouts/BaseLayout.astro";
let pageTitle = "External Script with Defer";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <script src="/test.js" defer is:inline></script>
</BaseLayout>
