---
import BaseLayout from "../layouts/BaseLayout.astro";
let pageTitle = "Anchor Link and JavaScript";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <script is:inline type="module">
    (async () => {
      let moduleSpecifier = "./test.js";
      await import(moduleSpecifier);
    })();
  </script>
</BaseLayout>
